<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Foi solicitado a troca da senha da sua conta.</p>
  <p>Se foi você, então clique no link abaixo para definir a nova senha:</p>
  <p>
    <a href="{{link}}">Resetar senha</a>
  </p>
  <p>Se você não solicitou a troca da senha, então desconsidere este email.</p>
  <p />
  <p />
  <p>Atenciosamente</p>
  <p>Equipe GoBarber</p>
</div>
